# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# env & secrets — هرگز کامیت نشود
.env
.env.*
!.env.example

# uploads و رسانه
public/uploads/
uploads/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
*.tsbuildinfo
next-env.d.ts
.vercel/
coverage/